body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #003366;
    text-align: center;
}

header {
    background-color: #ffd700;
    padding: 20px;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #003366;
    font-weight: bold;
}

nav a:hover {
    color: #ff8c00;
}

button {
    background-color: #ffd700;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #ff8c00;
}
.faq-container {
    max-width: 800px;
    margin: auto;
}

.faq-item {
    margin-bottom: 10px;
}

.faq-question {
    width: 100%;
    padding: 10px;
    background-color: #FFD700;
    color: #003366;
    border: none;
    cursor: pointer;
    text-align: left;
    font-size: 18px;
}

.faq-answer {
    display: none;
    padding: 10px;
    background-color: #f4f4f4;
    border-left: 3px solid #003366;
}
